<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table  border="0"class="firma" style="border:none;margin-top: 40px;">
  <tr>
  <td>
    <div>
      ------------------------------<br>
      ENTREGUÉ CONFORME
    </div>
    </td>
    <td>
    <div>
      ------------------------------<br>
      RECIBÍ CONFORME
    </div>
    </td>
   </tr>
  </table>
</body>
</html>